.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: -10px;
  
}


.image1
{
width:100%;
height:200px;
}

.image{
 
margin-left : auto ; 
margin-right : auto ;

width : 100%;
height : 600px;


}
